@charset "utf-8";
/* CSS Document */

body{
	background-color:rgba(242,242,242,1);
	overflow: hidden;
}

.button{
	transform: scale(.8);
	opacity: .8;
}
	
.button:hover{
	transform: scale(1);
	transform-origin:center;
	-webkit-transform-origin: center;
	opacity: 1;
	cursor:pointer;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.inLineObj{
	float:left;
	margin-right: 10px;
	max-width: 350px;
	width:auto;
	height: 30px;
}

.navButtons{
	background-image: url("images/arrow.png");
	background-repeat: no-repeat;
	background-size: cover;
	width: 30px;
	height: 30px;
}


#carouselLogo{
	float: left;
	margin-top: 45px;
	margin-left: 25px;
	width: 100%;
	margin-bottom: 35px;
}

#mainContainer{
	position: absolute;
	top: 175px;
	width:802px;
	height:410px;
	margin-left: 110px;
}

#mainCanvas{
	width: 800px;
	height: 350px;
	border: 1px solid black;
	background-color: white;
}

#moduleTitle{
	font-family: "Verdana", sans-serif;
	font-size: 20px;
}

#overlay{
	position:absolute;
	top: 31px;
	left:1px;
	width:800px;
	height:350px;
}

#videoPlayer{
	position:absolute;
	top:30px;
	display:none;
}

#nextButton{
	-ms-transform: rotate(180deg) scale(.8); /* IE 9 */
    -webkit-transform: rotate(180deg) scale(.8); /* Chrome, Safari, Opera */
    transform: rotate(180deg) scale(.8);
}

