@charset "utf-8";
/* CSS Document */
body {
	height: 100%;
	width: 100%;
	overflow:hidden;
	font-family: "Helvetica", Arial, sans-serif;
	color: rgb(143, 196, 248);
	font-size: .9em;
}

html {
	height: 100%;
	width: 100%;
	overflow:hidden;
}

img {
	max-width:100%;
	max-height:100%;
}

#dimmer {
	position:absolute;
	top: 0;
	left:0;
	background-color: rgba(0,0,0,.85);
	height: 100%;
	width: 100%;
	overflow:hidden;
	z-index: 98;
}

#trayClip{
	position:absolute;
	height: 100%;
	width: 100%;
}

#portfolioLogo {
	left: 5.75%;
	position: absolute;
	z-index: 101;
}

.menuIconsContainer{
	position:relative;
	float: right;
	width: 70px;
	height: 30px;
	margin: 10px;
	z-index: 15;
}

.menuIconsContainer .menuIcon{
	float:right;
	width: 30px;
	height: 30px;
	transform-origin:center;
	-webkit-transform-origin: center;
	opacity: 0.8;	
}

.menuIconsContainer .menuIcon:hover{
	transform: scale(1.2);
	transform-origin:center;
	-webkit-transform-origin: center;
	opacity: 1;
}

#radialMenuButton{
	background-image: url("images/ringIcon.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.button:hover{
	transform: scale(1.2);
	transform-origin:center;
	-webkit-transform-origin: center;
	opacity: 1;
}

.mainContainer {
	top: 5%;
	width: 100vmin;
	height: 70vmin;
	margin-right:auto;
	margin-left:auto;
	position: relative;
	-webkit-clip-path: url(#trayClip);
	clip-path: url(#trayClip);
	border:  3px solid #333;
	border-radius: 15px;
}

#instructions{
	background-color:rgba(255,255,255,1);
	position:relative;
	height: 100%;
	width: 100vmin;
	margin-right:auto;
	margin-left:auto;
	font-size: 0.8em;
	color:rgba(0,0,0,1);
	z-index: 101;
}

#overlay{
	position:absolute;
	top: 100px;
	left: 100px;
	width: 100px;
	height: 70px;	
	border:  3px solid #333;
	border-radius: 15px;
	z-index: 100;
	pointer-events: none;	
}

#imageContainer{
	width:100%;
	height:100%;
	position:absolute;
	top: 0;
	left: 0;
	z-index: 0;
}

#imageContainer img{
	position:absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%,-50%);
}

#radialMenu {
	position: absolute;
	margin-left:50%;
	height: 363px;
	width: 409px;
	background-image: url("images/ringBG.png");
	transform: translate(-50%, 30%);
	z-index: 99;
}

#radialMenu .menuIcon{
	width: 55px;
	height: 55px;
	position:absolute;
}

#radialMenu .menuIcon::after{
	content:"";
	background-image: url("images/iconGlow.png");
	top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
	opacity:0.2;
}


#topSectionIcon1{
	display:none;
	top: 66px;
	left: 52px;
}

#topSectionIcon2{
	display:none;
	top: 23px;
	left: 113px;
}

#topSectionIcon3{
	display:none;
	top: 11px;
	left: 176px;
}

#topSectionIcon4{
	display:none;
	top: 23px;
	right: 113px;
}

#topSectionIcon5{
	display:none;
	top: 66px;
	right:52px;
}

#leftSectionIcon1{
	display:none;
	top: 155px;
	left:11px;
}

#leftSectionIcon2{
	display:none;
	top: 221px;
	left:17px;
}

#leftSectionIcon3{
	display:none;
	top:285px;
	left:44px;
}

#rightSectionIcon1{
	display:none;
	top: 155px;
	right:11px;
}

#rightSectionIcon2{
	display:none;
	top: 221px;
	right:17px;
}

#rightSectionIcon3{
	display:none;
	top:285px;
	right:44px;
}


#menuProjectTitle{
	width: 45%;
	height: 20%;
	margin-left:auto;
	margin-right:auto;
	margin-top: 100px;
	margin-bottom: 10px;	
}

#menuProjectDescription{
	width: 50%;
	height: 40%;
	margin-left:auto;
	margin-right:auto;
	top:15%;
}

#tray {
	top: 60%;
	width: 100%;
	height: 40%;
	position:relative;
	z-index: 10;
}

#trayTop {
	width: 100%;
	height: 6px;
	background-color:#333;
	position:relative;
	margin-bottom: 1px;
	background-image: url("images/trayTop_BG.jpg");
    background-repeat: repeat-x;
}

#trayTitleBar{
	position:absolute;
	height: 61px;
	width: 100%;
	background-image: url("images/trayTitleBar_BG.jpg");
    background-repeat: repeat-x;
}

#projectTitle{
	width: 30%;
	height: 39px;
	padding: 10px;
	float:left;
}

#thumbnailsContainer{
	width: 400px;
	height: 39px;
	float: right;
	padding: 10px;		
}

.thumbnail{
	margin-left: 10px;
	height: 39px;
	width: 53px;
	border: 1px solid #fff;
	float: right;
}

.thumbnail:hover{
	transform: scale(1.2);
	transform-origin:center;
	-webkit-transform-origin: center;
}


#trayControl {
	width:34px;
	height:34px;
    margin-left: 50%;
	top: 50%;               
	position:absolute;   
	transform: translate(-50%, -50%); 
	z-index: 11;
}

#dots {
	position:absolute; 
	width: 19px;
	height: 4px;
	top: 50%;
	transform: translate(-50%, -50%);
	background-image: url("images/dots.png");
    margin-left: 50%;
}

#trayUp {
	position: relative;
	height:14px;
	width: 28px;
	bottom:-50%;
	-ms-transform: translateY(-100%); /* IE 9 */
    -webkit-transform: translateY(-100%); /* Chrome, Safari, Opera */
    transform:translateY(-100%);
	background-image: url("images/trayToggle.png");
	background-position:top;
	background-repeat: no-repeat;
	background-size: cover;
    margin-left: auto;
    margin-right: auto;
}

#trayDown {
	position: relative;
	height:14px;
	width: 28px;
	top:50%;
	background-image: url("images/trayToggle.png");
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
    -ms-transform: rotate(180deg) translateY(50%); /* IE 9 */
    -webkit-transform: rotate(180deg) translateY(50%); /* Chrome, Safari, Opera */
    transform: rotate(180deg) translateY(50%);
    margin-left: auto;
    margin-right: auto;	
}

#trayContent{
	position:absolute;
	top: 67px;
	left: 0px;
	width: 100%;
	height:100%;
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	background-image: url("images/bgTransparency.png");
	background-size: cover; 
	background-repeat: repeat-x;
	overflow-y:auto;
	overflow-x:hidden;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}


#trayBody{
	width: 98.15%;
	height: 100%;
	padding: 10px;
	background-color:#333;
	background-image: url("images/bgTransparency.png");
	background-size: cover; 
	background-repeat: repeat-x;
	border: 1px solid #000;
}

#projectDescription{	
	min-height: 45px;
	width: 100%;
	margin: 0px;	
}

#projectSpecs{
	height: 67px;
	width: 96%;
	margin-top: 10px;
	background-color: rgba(143, 196, 248, .45);
	border: 3px solid rgba(143, 196, 248, .65);
	padding: 10px;	
}

#projectSpecs h1{
	display: inline;
	margin-bottom: 0px;
	font-size: 1em;
}

#projectSpecs ul{
	margin-top: 5px;
}

#menuItems{
	float:right;
	height: 80%;
	width: 5%;
	border: 3px solid rgba(143, 196, 248, .65);
}

.skillSet{
	height: 100%;
	width: 33%;
	float: right;
}

#test{	
	height: 61px;
	width: 100%;
	border: 3px solid rgba(143, 196, 248, .65);
}

#floatRight{
	float:right;
	height: 100%;
}


